<meta name="identifier-url" content="site.url" />
<meta name="title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
<meta name="abstract" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
<meta name="author" content="{{ site.publisher }}" />
<meta name="revisit-after" content="7" />
<meta name="language" content="EN" />
<meta name="copyright" content="© {{ site.year }} {{ site.publisher }}" />
<meta name="robots" content="Index" />
