<footer class="site-footer">
  <ul>
    <li>
      <a href="/code-of-conduct">
        Code of Conduct
      </a>
    </li>
    <li>
      <a href="/Multicolour_Branding_Guidelines_2016.pdf" target="_blank" rel="nofollow">
        Branding guidelines
      </a>
    </li>
    <li>
      <a href="https://github.com/Multicolour" target="_blank" rel="nofollow">
        Github Organisation
      </a>
    </li>
  </ul>
  <p>&copy; All copyright to Get Multicolour &amp; {{ site.publisher }} {{ site.year }}</p>
</footer>
