<footer class="site-footer">
  <ul>
    <li>
      <a href="https://github.com/Multicolour/multicolour/blob/master/CONTRIBUTING.md">
        Code of Conduct/Contribution rules
      </a>
    </li>
    <li>
      <a href="/Multicolour_Branding_Guidelines_2016.pdf" target="_blank" rel="nofollow">
        Branding guidelines
      </a>
    </li>
    <li>
      <a href="https://github.com/Multicolour" target="_blank" rel="nofollow">
        Github Organisation
      </a>
    </li>
  </ul>
  <p>&copy; Copyright to Get Multicolour &amp; New World Code Ltd {{ site.year }}</p>
</footer>
