<nav class="general-nav">
    <ul>
        <li>
            <a href="/" class="no-border">
                <img class="nav-logo" src="/images/logo-stamp.svg" alt="Multicolour - NodeJS REST API generator.">
            </a>
        </li>
        <li>
            <a href="/examples" title="Multicolour rest api generator examples">examples</a>
        </li>
        <li>
            <a href="/docs/" title="Multicolour docs">docs</a>
        </li>
        <li>
            <a href="/blog" title="Multicolour blog">blog</a>
        </li>
    </ul>
</nav>
