---
layout: page
title:  Multicolour blog
description: Read Multicolour's latest news, hints, tips and learn more about REST APIs.
keywords: blog, multicolour, rest api
permalink: /blog/
short_name: multicolour blog
---

<section class="blog">
  {% for post in site.posts limit: 4 %}
      {% assign author = site.data.authors[post.author] %}

      {% if forloop.first %}
      <article class="post post-wide">
        <div class="left">
          <time datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date_to_long_string }}
          </time>

          <a href="{{ post.permalink }}">
              {{ post.title }}
          </a>

          <hr>

          <div class="author" itemscope itemtype="http://schema.org/Person">
              <img class="author-image" src="{{ author.image }}" alt="{{ post.author }}">
              <small>written by:</small>
              <p class="author-name">{{ post.author }}</p>
          </div>
        </div>

        <div class="right">
          {% if !!page.excerpt %}
          {{ post.excerpt | truncatewords: 40 }}
          {% else %}
          {{ post.content | truncatewords: 40 }}
          {% endif %}

          <a href="{{ post.permalink }}" title="{{ post.title }}">Read more &rarr;</a>
        </div>
      </article>

      <p class="more-posts">More posts</p>

      {% else %}

      <article class="post post-narrow">

        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date_to_long_string }}
        </time>

        <a href="{{ post.permalink }}">
            {{ post.title }}
        </a>

        <div class="author" itemscope itemtype="http://schema.org/Person">
            <img class="author-image" src="{{ author.image }}" alt="{{ post.author }}">
            <small>written by:</small>
            <p class="author-name">{{ post.author }}</p>
        </div>

        <hr>

        {% if !!page.excerpt %}
        {{ post.excerpt | truncatewords: 40 }}
        {% else %}
        {{ post.content | truncatewords: 40 }}
        {% endif %}

        <a href="{{ post.permalink }}" title="{{ post.title }}">Read more &rarr;</a>
      </article>
      {% endif %}


  {% endfor %}
</section>
