<div class="breadcrumbs">
  <a class="breadcrumbs-logo" href="/" title="{{ site.title }}">
    <img src="/images/iconography/android-icon-36x36.png" alt="{{ site.title }}">
  </a>

  <span class="arrow">&rarr;</span>

  {% if !!page.breadcrumbs %}
  {% for breadcrumb in page.breadcrumbs %}
  <a href="{{ breadcrumb.permalink }}" title="{{ breadcrumb.name }}">
    {{ breadcrumb.name }}
  </a>

  <span class="arrow">&rarr;</span>
  {% endfor %}
  {% endif %}

  <a class="current" href="{{ page.permalink }}" title="{{ page.title }}">
    {{ page.short_name }}
  </a>
</div>
