<footer class="site-footer">
  <div class="social">
    <a href="https://github.com/Multicolour" rel="nofollow noreferrer noopener">
      <img src="/images/logos/github.svg" alt="Multicolour open source projects">
    </a>

    <a href="https://slack.getmulticolour.com" rel="nofollow noreferrer noopener">
      <img src="/images/logos/slack.svg" alt="Multicolour Slack channel, help, tutorials">
    </a>

    <a href="https://twitter.com/getmulticolour" rel="nofollow noreferrer noopener">
      <img src="/images/logos/twitter.svg" alt="Multicolour Twitter feed">
    </a>
  </div>

  <ul class="meta">
    <li>
      <a href="/code-of-conduct" title="Multicolour code of conduct">
        Code of Conduct
      </a>
    </li>
    <li>
      <a href="/Multicolour_Branding_Guidelines_2016.pdf" target="_blank" rel="nofollow noopener noreferrer">
        Branding guidelines
      </a>
    </li>
    <li>
      <a href="https://github.com/Multicolour" target="_blank" rel="nofollow noopener noreferrer">
        Github Organisation
      </a>
    </li>
  </ul>
  <p>&copy; All copyright to Get Multicolour &amp; {{ site.publisher }} {{ site.year }}</p>
</footer>

{% include scripts.html %}
