// Global element styles //

* + * {
  margin-bottom: $vertical-rhythm;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  font-family: $primary_font_face;
  font-size: $base-font-size;
  line-height: $base-font-size * 1.4;
  -webkit-font-smoothing: antialiased;
  padding: 1rem;
  color: #3D3E3F;

  @include gradient-background();

  @media screen and (max-width: $break-small) {
    font-size: $base-font-size * 2;
    line-height: ($base-font-size * 2) * 1.5;
  }
}

main {
  background-color: $colour_primary_background;
}

h1, h2, h3 {
  code {
    background-color: $colour_alternative_background !important;
    color: #3D3E3F !important;
    font-size: 1.2em !important;
    text-shadow: none !important;
    word-break: break-word;
  }
}

pre code {
  font-size: .8em;
}

nav a,
h1, h2, h3,
.point-header {
  font-family: $secondary_font_face;
  color: #3D3E3F;
  margin: 1.4em 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

em {
  font-style: italic;
}

ol {
  padding-left: 2em;
  padding-bottom: 2em;
}

ul > li {
  list-style-type: square;
  padding-bottom: 1em;
}

ul li {
  line-height: 1.4em;
  margin-bottom: 0;
}

.index {
  ul > li {
    padding-bottom: initial;
  }
}

li li {
  list-style-type: circle;
  margin-left: $horizontal-rhythm;
}

strong {
  font-weight: 700;
}

pre {
  margin: 0;
}

p {
  margin-bottom: $vertical-rhythm;

  @media screen and (max-width: $break-small) {
    margin-bottom: $vertical-rhythm / 2;
  }
}

p, img {
  vertical-align: top;
  line-height: 1.7em;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;

  img {
    border: 0;
    outline: 0;
  }

  &:not(.no-border) {
    padding-bottom: .1em;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
  }
}

ul {
  padding: 0;
}

.simplified-example {
  text-align: center;

  pre {
    font-size: .65em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 2vw;
  }
}

// Our styles.
.row, .content {
  width: 70vw;
  margin: 7vh auto;

  @media screen and (max-width: $break-small) {
    margin: 0 auto;
    margin-bottom: $vertical-rhythm / 2;
  }
}

.small {
  font-size: $base-font-size / 1.5;
  line-height: ($base-font-size / 1.5) * 1.7;

  @media screen and (max-width: $break-small) {
    font-size: $base-font-size * 1.4;
    line-height: ($base-font-size * 1.4) * 1.7;
  }
}

.really-small {
  margin-top: .5em;
  font-size: $base-font-size / 2;

  @media screen and (max-width: $break-small) {
    margin-top: 1vh;
    font-size: $base-font-size;
    line-height: $base-font-size * 1.5;
  }
}

.logo {
  display: block;
  width: 30vw;
  margin: $vertical-rhythm * 3 auto;

  @media screen and (max-width: $break-small) {
    width: 60vw;
  }
}

.row {
  clear: both;
  overflow: hidden;

  img, .text {
    display: inline-block;
    vertical-align: top;
    width: 48%;

    &:first-child {
      margin-right: 3%;
    }

    @media screen and (max-width: $break-small) {
      width: 100%;
      text-align: center;
    }
  }

  img {
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }
}

.home-nav {
  text-align: center;
  margin: $vertical-rhythm auto;
}

.point-header {
  margin-top: 0;
  line-height: 1.5em;
}

.nav-logo {
  width: 5vw;
  display: inline;
}

.examples {
  .getting-started {
    margin-top: $vertical-rhythm * 3;
  }
}

.home ul.small {
  margin-left: 1em;
  padding: 0;
}

.home main {
  padding-bottom: 0;
}

.home .sponsors {
  width: 100%;
  color: #FFF;
  text-align: center;
  margin-bottom: 0;
  font-family: $secondary_font_face;
  background: $colour_purple_middle;
  background: -moz-linear-gradient(top, $colour_purple_middle 0%, $colour_pink_base 100%);
  background: -webkit-linear-gradient(top, $colour_purple_middle 0%, $colour_pink_base 100%);
  background: linear-gradient(to bottom, $colour_purple_middle 0%, $colour_pink_base 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colour_purple_middle', endColorstr='$colour_pink_base',GradientType=0 );

  h3 {
    color: #FFF;
  }

  .left, .right {
    display: inline-block;
    vertical-align: top;
    padding: 1.5em;
    width: 42%;
  }
}

.docs {
  h2, h3 {
    border-bottom: 1px dashed #272822;
  }
}

.sponsor-logos {
  text-align: center;
}
