.breadcrumb-menu {
  border-top: 1px solid #CFCFCF;
  overflow: hidden;

  h1, .breadcrumbs {
    display: block;
    vertical-align: top;
  }

  h1 {
    margin: .5em;
    float: left;
    font-family: $primary_font_face;
    color: $colour_secondary_font;
    font-weight: 400;
  }

  .breadcrumbs {
    float: right;
    text-align: right;
    margin-bottom: 0;
    font-family: $secondary_font_face;
    padding-top: 0.6em;

    a {
      font-family: inherit;
      text-decoration: none;
      border: 0;

      &.current {
        font-weight: 700;
        color: $colour_purple_base;
      }
    }
  }
}
