.columns {
  width: 100%;
  display: flex;

  aside,
  article {
    display: inline-block;
    vertical-align: top;
    align-items: stretch;
  }

  article {
    width: 70%;
    padding: 2.5em;
  }

  aside {
    width: 25%;
    background-color: $colour_alternative_background;

    h2, li {
      padding-left: 2.5em;
    }

    small {
      display: block;
      font-family: $primary_font_face;
    }

    .search-results {
      @media screen and (max-width: $break-small) {
        display: none;

        .visible {
          display: none;
        }

        &.searched,
        &.intent {
          display: block;
          position: absolute;
          top: 32vh;
          left: 1rem;
          right: 1rem;
          bottom: 0;
          background: rgba(255, 255, 255, .95);
          margin-bottom: 0;

          .visible {
            display: block;
          }
        }
      }
    }

    li {
      list-style: none;
      border-left: 10px solid transparent;
      padding: .7em 1em .7em 2em;
      font-family: $secondary_font_face;
      display: none;

      &.active {
        border-left-color: $colour_purple_base;
        background-color: #FFF;
      }

      &.visible {
        display: block;
      }

      a {
        font-family: inherit;
        text-decoration: none;
        border: 0;
      }
    }

    .title {
      display: block;
      color: #FFF;
      margin: 0;
      padding: 1.5em 2.5em;
      font-family: $primary_font_face;
      font-weight: 100;
      background-color: $colour_purple_middle;

      span {
        font-size: 1.3em;
        font-family: 700;
      }
    }
  }

  .search {
    width: 100%;
    margin: 0;
    background: $colour_primary_font;
    color: white;
    font-family: $secondary_font_face;

    input {
      background-color: transparent;
      border: 0;
      padding: 1em 1em 1em 2.5em;
      outline: 0;
    }
  }

  @media screen and (max-width: $break-small) {
    display: block;

    aside,
    article {
      display: block;
      width: 100%;
    }

    aside {
      .title {
        display: none;
      }
    }
  }
}
