// Global element styles //

* + * {
  margin-bottom: $vertical-rhythm;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  font-family: $primary_font_face;
  font-size: $base-font-size;
  line-height: $base-font-size * 1.4;
  -webkit-font-smoothing: antialiased;
  padding: 1rem;
  color: #3D3E3F;

  @include gradient-background();

  @media screen and (max-width: $break-small) {
    font-size: $base-font-size * 2;
    line-height: ($base-font-size * 2) * 1.5;
  }
}

main {
  padding: $vertical-rhythm 0;
  background-color: #FFF;
}

h1, h2, h3 {
  code {
    background-color: rgba(150, 150, 150, .1) !important;
    color: #3D3E3F !important;
    font-size: 1.2em !important;
    text-shadow: none !important;
    word-break: break-word;
  }
}

pre code {
  font-size: .8em;
}

nav a,
h1, h2, h3,
.point-header {
  font-family: $secondary_font_face;
  font-weight: 700;
  color: #3D3E3F;
  margin: 1.4em 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

em {
  font-style: italic;
}

ol {
  padding-left: 2em;
  padding-bottom: 2em;
}

ul > li {
  list-style-type: square;
  padding-bottom: 1em;
}

ul li {
  line-height: 1.4em;
  margin-bottom: 0;
}

.index {
  ul > li {
    padding-bottom: initial;
  }
}

li li {
  list-style-type: circle;
  margin-left: $horizontal-rhythm;
}

strong {
  font-weight: 700;
}

pre {
  margin: 0;
}

p {
  margin-bottom: $vertical-rhythm;

  @media screen and (max-width: $break-small) {
    margin-bottom: $vertical-rhythm / 2;
  }
}

p, img {
  vertical-align: top;
  line-height: 1.7em;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;

  img {
    border: 0;
    outline: 0;
  }

  &:not(.no-border) {
    padding-bottom: .1em;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
  }
}

ul {
  padding: 0;
}

.simplified-example {
  text-align: center;

  pre {
    font-size: .65em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 2vw;
  }
}

// Our styles.
section, .row, .content {
  width: 70vw;
  margin: 7vh auto;

  @media screen and (max-width: $break-small) {
    margin: 0 auto;
    margin-bottom: $vertical-rhythm / 2;
  }
}

.small {
  font-size: $base-font-size / 1.5;
  line-height: ($base-font-size / 1.5) * 1.7;

  @media screen and (max-width: $break-small) {
    font-size: $base-font-size * 1.4;
    line-height: ($base-font-size * 1.4) * 1.7;
  }
}

.really-small {
  margin-top: .5em;
  font-size: $base-font-size / 2;

  @media screen and (max-width: $break-small) {
    margin-top: 1vh;
    font-size: $base-font-size;
    line-height: $base-font-size * 1.5;
  }
}

.logo {
  display: block;
  width: 30vw;
  margin: $vertical-rhythm * 3 auto;

  @media screen and (max-width: $break-small) {
    width: 60vw;
  }
}

.row {
  clear: both;
  overflow: hidden;

  img, .text {
    display: inline-block;
    vertical-align: top;
    width: 48%;

    &:first-child {
      margin-right: 3%;
    }

    @media screen and (max-width: $break-small) {
      width: 100%;
      text-align: center;
    }
  }

  img {
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }
}

.email-signup {
  text-align: center;
  font-family: $secondary_font_face;

  fieldset {
    display: block;
    margin: 0 auto;
    clear: both;
    height: 4em;
    overflow: hidden;
    border: 0;
  }

  input, button {
    height: 100%;
    margin: 0;
    font-family: inherit;
    font-size: $base-font-size;
    float: left;
    padding: 0 $horizontal-rhythm;
    border-radius: 0;
    -webkit-appearance: none;
	  -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;

    @media screen and (max-width: $break-small) {
      padding: $vertical-rhythm / 2.25 $horizontal-rhythm;
      font-size: $base-font-size * 1.5;
    }
  }

  input {
    width: 80%;
    border: 1px solid #979797;
  }

  button {
    border: 0;
    width: 20%;
    background: #333;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #333;


    @media screen and (max-width: $break-small) {
      padding: $vertical-rhythm / 4 $horizontal-rhythm;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.home-nav {
  text-align: center;
  margin: $vertical-rhythm auto;
}

.general-nav {
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 1rem;
  right: 1rem;
  background: #FFF;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);

  .logo-link,
  .menu {
    vertical-align: top;
  }

  .logo-link {
    float: left;
  }

  .menu {
    float: right;
    padding-top: 1em;
    margin-bottom: 0;
  }

  nav, menu {
    padding: $vertical-rhythm / 3 $horizontal-rhythm;
    margin: 0;
  }
}

.breadcrumb-menu {
  border-top: 1px solid #CFCFCF;
  overflow: hidden;

  h1, .breadcrumbs {
    display: block;
    vertical-align: top;
  }

  h1 {
    margin: .5em;
    float: left;
  }

  .breadcrumbs {
    float: right;
    text-align: right;
    margin-bottom: 0;
    font-family: $secondary_font_face;

    a {
      font-family: inherit;
      text-decoration: none;
      border: 0;

      &.current {
        font-weight: 700;
        color: $colour_purple_base;
      }
    }
  }
}

nav {
  padding: 0;
  display: block;
  overflow: hidden;

  a {
    font-weight: 500;
  }

  li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0 $horizontal-rhythm;
  }
}

.point-header {
  margin-top: 0;
  line-height: 1.5em;
}

.nav-logo {
  width: 5vw;
  display: inline;
}

.examples {
  .getting-started {
    margin-top: $vertical-rhythm * 3;
  }
}

.home ul.small {
  margin-left: 1em;
  padding: 0;
}

.home main {
  padding-bottom: 0;
}

.home .sponsors {
  width: 100%;
  color: #FFF;
  text-align: center;
  margin-bottom: 0;
  font-family: $secondary_font_face;
  background: $colour_purple_middle;
  background: -moz-linear-gradient(top, $colour_purple_middle 0%, $colour_pink_base 100%);
  background: -webkit-linear-gradient(top, $colour_purple_middle 0%, $colour_pink_base 100%);
  background: linear-gradient(to bottom, $colour_purple_middle 0%, $colour_pink_base 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colour_purple_middle', endColorstr='$colour_pink_base',GradientType=0 );

  h3 {
    color: #FFF;
  }

  .left, .right {
    display: inline-block;
    vertical-align: top;
    padding: 1.5em;
    width: 42%;
  }
}

.docs {
  h2, h3 {
    border-bottom: 1px dashed #272822;
  }
}

.sponsor-logos {
  text-align: center;
}

footer {
  padding: 1em;
  font-family: $secondary_font_face;
  font-size: .8em;
  color: #FFF;
  text-align: center;

  ul {
    margin-bottom: 1em;
    width: 100%;

    &, li {
      list-style: none !important;
      display: inline-block;
    }

    li {
      padding: 0 2em;
    }
  }
}

.columns {
  width: 100%;

  aside, article {
    display: inline-block;
    vertical-align: top;
  }

  aside {
    width: 25%;
    height: 90vh;
    background-color: #F9F9F9;

    h2, li {
      padding-left: 2.5em;
    }

    li {
      list-style: none;
      border-left: 10px solid transparent;
      padding: .7em 2em;
      font-family: $secondary_font_face;

      &.active {
        border-left-color: $colour_purple_base;
        background-color: #FFF;
      }

      a {
        font-family: inherit;
        text-decoration: none;
        border: 0;
      }
    }
  }

  article {
    width: 70%;
    padding: 2.5em;

    h1 {
      margin-top: 0;
    }

    small {
      display: block;
      color: #333;
      margin: .3em 0 1em 0;
    }
  }
}

.search {
  width: 100%;
  margin: 0;
  background: #333;
  color: white;
  font-family: $secondary_font_face;

  input {
    background-color: transparent;
    border: 0;
    padding: 1em 1em 1em 2.5em;
    outline: 0;
  }
}

.docs-title {
  display: block;
  color: #FFF;
  margin: 0;
  padding: 1.5em 0;
  font-family: $primary_font_face;
  font-weight: 100;
  background-color: $colour_purple_middle;

  span {
    font-size: 1.3em;
    font-family: 700;
  }
}
