/* line 5, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/screen.scss */
* + * {
  margin-bottom: 5vh;
}

/* line 23, ../sass/screen.scss */
body {
  font-family: "georgia", Times, sans-serif;
  font-size: 2vw;
  line-height: 2.8vw;
  -webkit-font-smoothing: antialiased;
  padding: 1rem;
  color: #3D3E3F;
  background: #7423b5;
  background: -moz-linear-gradient(top, #ff9999 0%, #ab21b4 27%, #7423b5 100%);
  background: -webkit-linear-gradient(top, #ff9999 0%, #ab21b4 27%, #7423b5 100%);
  background: linear-gradient(to bottom, #ff9999 0%, #ab21b4 27%, #7423b5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9999', endColorstr='#7423b5',GradientType=0 );
}
@media screen and (max-width: 414px) {
  /* line 23, ../sass/screen.scss */
  body {
    font-size: 4vw;
    line-height: 6vw;
  }
}

/* line 43, ../sass/screen.scss */
main {
  padding: 5vh 0;
  background-color: #FFF;
}

/* line 49, ../sass/screen.scss */
h1 code, h2 code, h3 code {
  background-color: transparent !important;
  color: #3D3E3F !important;
  font-size: 1.2em !important;
  text-shadow: none !important;
}

/* line 57, ../sass/screen.scss */
pre code {
  font-size: .7em;
}

/* line 61, ../sass/screen.scss */
nav a,
h1, h2, h3,
.point-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #3D3E3F;
  margin: 1.4em 0;
}

/* line 70, ../sass/screen.scss */
h1 {
  font-size: 2.5rem;
}

/* line 74, ../sass/screen.scss */
h2 {
  font-size: 1.75rem;
}

/* line 78, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 82, ../sass/screen.scss */
ol {
  padding-left: 2em;
  padding-bottom: 2em;
}

/* line 87, ../sass/screen.scss */
ul > li {
  list-style-type: square;
}

/* line 91, ../sass/screen.scss */
li li {
  list-style-type: circle;
  margin-left: 2vw;
}

/* line 96, ../sass/screen.scss */
strong {
  font-weight: 700;
}

/* line 100, ../sass/screen.scss */
pre {
  margin: 5vh 0 !important;
}
@media screen and (max-width: 414px) {
  /* line 100, ../sass/screen.scss */
  pre {
    margin: 0 !important;
  }
}

/* line 109, ../sass/screen.scss */
p {
  margin-bottom: 5vh;
}
@media screen and (max-width: 414px) {
  /* line 109, ../sass/screen.scss */
  p {
    margin-bottom: 2.5vh;
  }
}

/* line 117, ../sass/screen.scss */
p, img {
  vertical-align: top;
  line-height: 1.7em;
}

/* line 122, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 126, ../sass/screen.scss */
a {
  color: inherit;
  text-decoration: none;
}
/* line 130, ../sass/screen.scss */
a img {
  border: 0;
  outline: 0;
}
/* line 135, ../sass/screen.scss */
a:not(.no-border) {
  padding-bottom: .1em;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

/* line 142, ../sass/screen.scss */
code:not([class]) {
  background-color: #272822;
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  padding: .4em;
  font-size: .8em;
  border-radius: 0.3em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

/* line 152, ../sass/screen.scss */
.simplified-example {
  text-align: center;
}
/* line 155, ../sass/screen.scss */
.simplified-example pre {
  font-size: .65em;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 2vw;
}

/* line 165, ../sass/screen.scss */
section, .row {
  width: 70vw;
  margin: 10vh auto;
}
@media screen and (max-width: 414px) {
  /* line 165, ../sass/screen.scss */
  section, .row {
    margin: 0 auto;
    margin-bottom: 2.5vh;
  }
}

/* line 175, ../sass/screen.scss */
.small {
  font-size: 1.3333333333vw;
  line-height: 2.2666666667vw;
}
@media screen and (max-width: 414px) {
  /* line 175, ../sass/screen.scss */
  .small {
    font-size: 2.8vw;
    line-height: 4.76vw;
  }
}

/* line 185, ../sass/screen.scss */
.really-small {
  margin-top: .5em;
  font-size: 1vw;
}
@media screen and (max-width: 414px) {
  /* line 185, ../sass/screen.scss */
  .really-small {
    margin-top: 1vh;
    font-size: 2vw;
    line-height: 3vw;
  }
}

/* line 196, ../sass/screen.scss */
.logo {
  display: block;
  width: 30vw;
  margin: 15vh auto;
}
@media screen and (max-width: 414px) {
  /* line 196, ../sass/screen.scss */
  .logo {
    width: 60vw;
  }
}

/* line 206, ../sass/screen.scss */
.row {
  clear: both;
  overflow: hidden;
}
/* line 210, ../sass/screen.scss */
.row img, .row .text {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}
/* line 215, ../sass/screen.scss */
.row img:first-child, .row .text:first-child {
  margin-right: 3%;
}
@media screen and (max-width: 414px) {
  /* line 210, ../sass/screen.scss */
  .row img, .row .text {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  /* line 225, ../sass/screen.scss */
  .row img {
    display: none;
  }
}

/* line 232, ../sass/screen.scss */
.email-signup {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}
/* line 236, ../sass/screen.scss */
.email-signup fieldset {
  display: block;
  margin: 0 auto;
  clear: both;
  height: 4em;
  overflow: hidden;
}
/* line 244, ../sass/screen.scss */
.email-signup input, .email-signup button {
  height: 100%;
  margin: 0;
  font-family: inherit;
  font-size: 2vw;
  float: left;
  padding: 0 2vw;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
}
@media screen and (max-width: 414px) {
  /* line 244, ../sass/screen.scss */
  .email-signup input, .email-signup button {
    padding: 2.2222222222vh 2vw;
    font-size: 3vw;
  }
}
/* line 261, ../sass/screen.scss */
.email-signup input {
  width: 80%;
  border: 1px solid #979797;
}
/* line 266, ../sass/screen.scss */
.email-signup button {
  border: 0;
  width: 20%;
  background: #333;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #333;
}
@media screen and (max-width: 414px) {
  /* line 266, ../sass/screen.scss */
  .email-signup button {
    padding: 1.25vh 2vw;
  }
}
/* line 280, ../sass/screen.scss */
.email-signup button:hover {
  cursor: pointer;
}

/* line 286, ../sass/screen.scss */
nav {
  padding: 0;
  display: block;
  text-align: center;
  margin: 5vh auto;
}
/* line 292, ../sass/screen.scss */
nav.general-nav {
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 1rem;
  right: 1rem;
  background: #FFF;
  padding: 2.5vh 2vw;
  border-bottom: 2px solid #00DEAF;
}
/* line 303, ../sass/screen.scss */
nav a {
  font-weight: 500;
}
/* line 307, ../sass/screen.scss */
nav li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0 2vw;
}

/* line 315, ../sass/screen.scss */
.point-header {
  margin-top: 0;
  line-height: 1.5em;
}

/* line 320, ../sass/screen.scss */
.nav-logo {
  width: 5vw;
  display: inline;
}

/* line 326, ../sass/screen.scss */
.examples .getting-started {
  margin-top: 15vh;
}

/* line 331, ../sass/screen.scss */
.home main {
  padding-bottom: 0;
}

/* line 335, ../sass/screen.scss */
.home .sponsors {
  width: 100%;
  color: #FFF;
  text-align: center;
  margin-bottom: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #EA82AA;
  background: -moz-linear-gradient(top, #EA82AA 0%, #ff9999 100%);
  background: -webkit-linear-gradient(top, #EA82AA 0%, #ff9999 100%);
  background: linear-gradient(to bottom, #ea82aa 0%, #ff9999 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EA82AA', endColorstr='#ff9999',GradientType=0 );
}
/* line 347, ../sass/screen.scss */
.home .sponsors h3 {
  color: #FFF;
}
/* line 351, ../sass/screen.scss */
.home .sponsors .left, .home .sponsors .right {
  display: inline-block;
  vertical-align: top;
  padding: 1.5em;
  width: 42%;
}

/* line 360, ../sass/screen.scss */
.transparency ul {
  clear: both;
}
/* line 363, ../sass/screen.scss */
.transparency ul, .transparency ul li {
  list-style: none;
}
/* line 367, ../sass/screen.scss */
.transparency ul .left {
  width: 25%;
}
/* line 370, ../sass/screen.scss */
.transparency ul .left a {
  border-bottom: 0;
}
/* line 375, ../sass/screen.scss */
.transparency ul .right {
  width: 60%;
}
/* line 378, ../sass/screen.scss */
.transparency ul .right a {
  display: block;
  margin-bottom: 1em;
}
/* line 384, ../sass/screen.scss */
.transparency ul .left, .transparency ul .right {
  display: inline-block;
  vertical-align: top;
  padding: 1em;
}

/* line 393, ../sass/screen.scss */
.docs h2, .docs h3 {
  border-bottom: 1px dashed #272822;
}

/* line 398, ../sass/screen.scss */
.sponsor-logos {
  text-align: center;
}

/* line 402, ../sass/screen.scss */
footer {
  padding: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .8em;
  color: #FFF;
}
/* line 408, ../sass/screen.scss */
footer ul {
  margin-bottom: 1em;
}
/* line 411, ../sass/screen.scss */
footer ul, footer ul li {
  list-style: none !important;
}
