<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <main>
      {% include inner-header.html %}

      <section class="columns">
        <aside>
            {% if page.version %}
            <h2 class="docs-title">Docs <span>{{ page.version }}</span></h2>
            {% else %}
            <h2 class="docs-title">Select version</h2>
            {% endif %}
            <section class="search">
                <input type="search" name="search" placeholder="search the docs">
            </section>

            {% if page.version %}
            {% include docs-list.html version=page.version %}
            {% else %}
            {% include versions-list.html %}
            {% endif %}
        </aside>
        <article>
          {{ content }}
        </article>
      </section>
    </main>

    {% include footer.html %}
</body>

</html>
